
  <!-- Bouton Home -->
  <a href="home.html" class="home-btn">🏠</a>
  <!-- Bouton Burger -->
  <div class="burger" onclick="toggleMenu()">☰</div>
  <!-- MENU BURGER -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <li>
        <label for="daysBurger">📖 Choisis un jour :</label>
        <select id="daysBurger" onchange="goToDay(this.value)">
          <option value="">-- Choisir un jour --</option>
          <option value="earlybird.html">Earlybird</option>
          <option value="22.html">Jour 1 - Bienvenue aux US</option>
          <option value="23.html">Jour 2 - Photo de bienvenue</option>
          <option value="24.html">Jour 3 - Italie / Dolomites</option>
          <option value="25.html">Jour 4 - DisneyLand</option>
          <option value="26.html">Jour 5 - Photo Paris</option>
          <option value="27.html">Jour 6 - Froid, Chenaudière</option>
          <option value="28.html">Jour 7 - Effet papillon 1</option>
          <option value="29.html">Jour 8 - Paris / Versailles</option>
          <option value="30.html">Jour 9 - Découvertes</option>
          <option value="1.html">Jour 10 - Effet papillon 2</option>
          <option value="2.html">Jour 11 - Donon + FAV</option>
          <option value="3.html">Jour 12 - Famille</option>
          <option value="4.html">Jour 13 - BG</option>
          <option value="5.html">Jour 14 - ❓Quizz❓</option>
          <option value="6.html">Jour 15 - Neuschwanstein</option>
          <option value="7.html">Jour 16 - Horror / CandleLight</option>
          <option value="8.html">Jour 17 - Sofia</option>
          <option value="9.html">Jour 18 - The end 🥹</option>
        </select>
      </li>
    </ul>
  </nav>
